<%= turbo_frame_tag "profile_body_#{dom_id(@user)}" do %>
  <div id="following">
    <%= render(Profiles::FollowUserListItemComponent.with_collection(@following, current_user: current_user)) %>
  </div>
  <%= render(General::InfiniteScrollPagyComponent.new(pagy: @pagy)) %>
<% end %>