<%= turbo_frame_tag "profile_body_#{dom_id(@user)}" do %>
  <div id="followers">
    <%= render(Profiles::FollowUserListItemComponent.with_collection(@followers, current_user: current_user)) %>
  </div>
  <%= render(General::InfiniteScrollPagyComponent.new(pagy: @pagy)) %>
<% end %>