<div class="dropdown dropleft add-pin-to-board-dropdown" data-controller="dropdown">
  <%= link_to '#', class: "#{klass}", id: 'add-pin-to-board-menu', data: { toggle: 'dropdown', 'aria-haspopup': true, 'aria-expanded': false } do %><% end %>

  <div class="dropdown-menu add-pin-to-board" aria-labelledby="add-pin-to-board-menu" data-action="click->dropdown#stopPropagation">
    <div class="header">
      <span><%= t('boards.add_to_board') %></span>
    </div>
    <div class="body">
      <%= turbo_frame_tag dom_id(pin), src: add_to_board_list_boards_path(pin), loading: :lazy do %>
      <% end %>
    </div>
  </div>
</div>