<%= turbo_frame_tag "tf_pin_boards_added_by_owner_#{dom_id(@pin)}" do %>
  <div id="pin_boards_added_by_owner_body_<%= dom_id(@pin) %>">
    <%= render(Boards::BoardComponent.with_collection(@boards, options: {
                                                                  current_user: current_user,
                                                                  name_class: 'black-link',
                                                                  first_twin_button_class: 'btn_1 rounded xsmall outline',
                                                                  second_twin_button_class: 'btn_1 rounded xsmall'
                                                                })) %>
  </div>
  <%= render(General::InfiniteScrollPagyComponent.new(pagy: @pagy, record: @pin)) %>
<% end %>