<div class="container margin_100_35">
  <div id="infinite-pins" class="row">
    <%= render(Pins::PinComponent.with_collection(@pins, current_user: current_user)) %>
    <!-- /pin_lists -->
  </div>
  <%= render(General::InfiniteScrollPagyComponent.new(pagy: @pagy)) %>
  <!-- /row -->
</div>
<!-- /container -->
