<div class="container margin_100_35">
  <div class="row">
    <%= render(Pins::PinComponent.with_collection(@pins, current_user: current_user)) %>
    <!-- /pin_lists -->
  </div>
  <!-- /row -->
</div>
<!-- /container -->
