<% title t('home') %>
<% set_meta_tags alternate: { "en" => pins_url(locale: :en),
                              "tr" => pins_url(locale: :tr) } %>
<% set_meta_tags og: {
      title:    'pinmapper.com',
      type:     'website',
      url:      pins_url
    } %>
<div class="container margin_100_55 pins-index">
  <% if @pins.any? %>
    <div id="infinite-pins" class="row infinite-pins">
      <%= render(Pins::PinComponent.with_collection(@pins, current_user: current_user)) %>
      <!-- /pin_lists -->
    </div>
    <%= render(General::InfiniteScrollPagyComponent.new(pagy: @pagy, records: @pins)) %>
    <!-- /row -->
  <% else %>
    <div class="empty-message responsive">
      <%= image_tag 'https://d3upp0w924wblq.cloudfront.net/pins-empty-image.png', class: "responsive", alt: '' %>
      <p><%= sanitize t('.empty_message', explore_link: link_to(t('explore.explore'), explore_index_path, class: 'black-link')) %></p>
    </div>
  <% end %>
</div>
<!-- /container -->
