<div id="<%= dom_id(board_section) %>" class="board-section" data-sort-url="<%= move_url %>">
  <div class="board-section-body">
    <p class="name"><%= link_to "#{board_section.name}", board_section, class: 'black-link', target: :_top %></p>
    <p class="pins-count"><%= "#{board_section.pins_count} #{t('pins.pins_tr')}" %></span>
  </div>
  <div class="more-button">
  </div>
</div>
