<div id="<%= dom_id(board_section) %>" class="board-section-list-item-for-pin" data-sort-url="<%= move_url %>">
  <div class="board-section-list-item-for-pin-body">
    <p class="name"><%= board_section.name %></p>
    <p class="pins-count"><%= "#{board_section.pins_count} #{t('pins.pins_tr')}" %></p>
  </div>
</div>
