@import "trix/dist/trix";

.trix-content {
  .attachment-gallery {

    >action-text-attachment,
    >.attachment {
      flex: 1 0 33%;
      padding: 0 0.5em;
      max-width: 33%;
    }

    &.attachment-gallery--2,
    &.attachment-gallery--4 {

      >action-text-attachment,
      >.attachment {
        flex-basis: 50%;
        max-width: 50%;
      }
    }
  }

  action-text-attachment {
    .attachment {
      padding: 0 !important;
      max-width: 100% !important;
    }
  }

  h1 {
    @include fontSize(32px);

    @include mobile {
      @include fontSize(22px);
    }
  }

  h2 {
    @include fontSize(30px);

    @include mobile {
      @include fontSize(20px);
    }
  }

  h3 {
    @include fontSize(28px);

    @include mobile {
      @include fontSize(18px);
    }
  }

  h4 {
    @include fontSize(26px);

    @include mobile {
      @include fontSize(16px);
    }
  }

  h5 {
    @include fontSize(24px);

    @include mobile {
      @include fontSize(14px);
    }
  }

  h6 {
    @include fontSize(22px);

    @include mobile {
      @include fontSize(12px);
    }
  }
}

trix-editor {
  &.form-control {
    min-height: 20rem;
    height: auto;
  }
}

.embed.video {
  width: 80%;
  margin: 1em auto;

  img {
    width: 600px;
    max-width: 100%;
  }
}