.boards {
  max-width:600px;
  margin-left:auto;
  margin-right: auto;
  width: 100%;
  >.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.board {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $border-color-2;
  padding: 15px 0;
  span > a.board-name {
    @include fontSize(20px);
  }
}

.dropdown-menu.add-pin-to-board{
  @include border-radius(5px);
  .header {
    text-align: center;
  }
  .body {
    padding: 0;
  }
}

.board-list-item-for-pin {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $border-color-2;
  gap: 50px;
  padding: 10px 0;
  min-width: 250px;
  >.board-name {
    @include fontSize(14px);
  }
}