.pin {
  background-color: #fff;
  max-width: 600px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  @include box-shadow (0px 0px 30px 0px rgba(0, 0, 0, 0.10));
  >.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 16px;
    border-bottom: 1px solid $border-color-2;
    .dropdown-menu {
      padding: 0;
    }
    .user > *:not(:last-child) {
      margin-right: 5px;
    }
  }
  img {
    align-self: center;
  }
  .body {
    padding: 16px;
    .cover-image-description {
      margin-bottom: 15px;
    }
    .time-ago {
      display: block;
      color: #999;
    }
  }
  .footer {
    border-top: 1px solid $border-color-2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 16px;
  }
  &-more {
    svg {
      cursor: pointer;
      margin-left: 20px;
    }
  }
}

.pin-more .dropdown-menu form.button_to {
  padding: 0;
}

.pin-likes-count {
  display: flex;
  gap: 10px;
  align-items: center;
}

.pin-tag {
  color: #999;
  &:hover {
    color: #fc5b62;
  }
}

.liked-pins {
  padding-left: 0;
  padding-right: 0;
  > .header {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    @include mobile {
      padding: 0 15px;
    }
  }
}