//----------------------- Pin ----------------------//

.pin {
  @include border-radius(3px);
  background-color: #fff;
  @include box-shadow (0px 0px 30px 0px rgba(0, 0, 0, 0.10));
  max-width: 600px;
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  >.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 16px;
    border-bottom: 1px solid $border-color-2;
    .user {
      &> *:not(:last-child) {
        margin-right: 5px;
      }
    }
  }
  img {
    align-self: center;
  }
  .body {
    padding: 16px;
    .cover-image-description {
      margin-bottom: 15px;
    }
    .time-ago {
      display: block;
      color: #777777;
    }
  }
  .footer {
    border-top: 1px solid $border-color-2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 16px;
  }
  &-more {
    svg {
      cursor: pointer;
      margin-left: 20px;
    }
  }
  .address {
    margin-bottom: 10px;
  }
}

//-------------------- Small Pin -------------------//

.small-pin {
  display: flex;
  background-color: #fff;
  @include box-shadow (0px 0px 30px 0px rgba(0, 0, 0, 0.10));
  @include border-radius(3px);
  max-height: 100px;
  width: 100%;
  .image img {
    @include border-radius(3px 0 0 3px);
  }
  .body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    h6 {
      margin-bottom: 0;
    }
  }
}

//-------------------- Pin likes -------------------//

.pin-likes-count {
  display: flex;
  gap: 10px;
  align-items: center;
}

.liked-pins {
  padding-left: 0;
  padding-right: 0;
  > .header {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    @include mobile {
      padding: 0 15px;
    }
  }
}

//-------------------- Pin tags --------------------//

.pin-tag {
  color: #555555;
  &:hover {
    color: #fc5b62;
  }
}

//-------------------- Pins#show -------------------//

.pin-show{
  background-color: #fff;
	padding: 30px;
	margin-bottom: 25px;
  @include border-radius(3px);
	@include box-shadow (0px 0px 15px 0px rgba(0, 0, 0, 0.05));
	h1 {
		@include fontSize(32px);
		@include mobile {@include fontSize(21px);}
	}
	p {
		line-height: $line-height-large;
	}
  >.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
    margin-bottom: 40px;
    .hrow {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;
      &.negative-margin-top {
        margin-top: -15px;
      }
      &.nowrap {
        flex-wrap: nowrap;
      }
    }
    h1 {
      margin: 0 !important;
    }
  }
}

.widget-title {
	padding: 15px;
	border-bottom: 1px solid $border-color-2;
	 h4 {
		padding: 0;
		margin: 0;
		font-weight: 500;
		line-height:$line-height-none;
		@include fontSize(15px);
	}
}
.widget {
	position: relative;
	display: block;
	margin-bottom: 15px;
  background-color: #fff;
  @include border-radius(3px);

  .pins-list {
    padding: 0;
    list-style: none;
    h3 {
      font-size: 14px;
      padding: 0 0 0;
      margin-bottom: 0;
      margin-top: 5px;
      text-transform: capitalize;
      letter-spacing: 0;
      a {
        color: #333;
        &:hover {
          color: $color-1;
        }
      }
    }
    li {
      padding: 15px;
      display: table;
      width: 100%;
      border-bottom: 1px solid $border-color-2;
      &:last-child {
        border-bottom: none;
      }
    }
    small {
      color: #999999;
    }
  }
}

/*Blog Post*/
.postmeta {
  margin-top: 15px;
	padding-bottom: 10px;
	ul {
		margin-bottom: 10px;
		li {
			display: inline-block;
			margin:0 15px 5px 0;
			a {
				color: #999;
				&:hover {
					color: $color-1;
				}
			}
		}
	}
}

aside.blog {
  padding-left: 0;
}

// tablet ve altındaki cihazlar için
@media only screen and (max-width: 991px) {
  aside.blog {
    padding-left: 15px;
  }
}

//-------------------- Pins#index -------------------//
.pins-index .pin, .liked-pins .pin{
  margin-left: auto;
  margin-right: auto;
}

.pins-index {
  .empty-message {
    text-align: center;
    @include fontSize(16px);
    img {
      margin-top: 50px;
      max-width: 300px;
      width: fit-content;
    }
    p {
      margin-top: 15px;
    }
  }
}

//-------------------- Pins#form -------------------//
.pin-form {
  .cover-image.responsive {
    max-width: 400px;
  }
}
