.profile {
  >.header {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 250px;
    padding: 20px 0;
    border-bottom: 2px solid $border-color-2;
    margin-bottom: 30px;
    max-width: 600px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @include tablet {
      padding: 0 10px;
      gap: 20px;
      height: 230px;
    }

    >.profile-user-avatar {
      @include tablet {
        height: 80px;
        width: 80px;
      }
    }

    .information {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 25px;
      max-width: 500px;

      @include tablet {
        gap: 20px;
      }

      .item {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        .username {
          @include fontSize(20px);
        }
      }
    }
  }

  >.body {
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    &.px-tablet {
      @include tablet {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }

  .pin,
  .follow-user-list-item,
  .board {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    width: 100%;
  }

  .profile-map .map {
    @include border-radius(9px);
    border: 1px solid $border-color-2;
  }
}

.follow-user-list-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;

  &:not(:last-child) {
    border-bottom: 1px solid $border-color-2;
  }

  padding: 16px;

  .user>*:not(:last-child) {
    margin-right: 5px;
  }

  &:first-child {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
  }

  &:last-child {
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
  }
}

.edit-profile-form {
  .form-group.profile_avatar {
    margin-bottom: 0;
  }

  .selected-image-area {
    margin-top: 15px;
  }
}