.tag {
  padding-left: 0;
  padding-right: 0;
  >.header {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 20px 0;
    border-bottom: 2px solid $border-color-2;
    margin-bottom: 30px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    @include mobile {
      padding: 0 15px;
    }
    >.tag-name {
      margin-bottom: 0;
      @include fontSize(18px);
      @include mobile {
        @include fontSize(13px);
      }
    }
  }
  >.body {
    max-width:600px;
    margin-left:auto;
    margin-right: auto;
    width: 100%;
  }
}

.following-tags {
  max-width:600px;
  margin-left:auto;
  margin-right: auto;
  width: 100%;
}

.tag-list-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $border-color-2;
  padding: 15px 0;
  .tag > *:not(:last-child) {
    margin-right: 5px;
  }
}