.rounded-cropper .cropper-view-box,
.rounded-cropper .cropper-face {
  border-radius: 50%;
}

.dropdown-footer {
	border: none;
  padding-right: 10px;
  padding-left: 10px;
	@include rgba(bg, #fff, 0.05);
	@include border-radius(3px);
  height: 30px;
}

.toast {
  top: 50px;
}

/* MAIN NAVIGATION */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  // tablet ve altındaki cihazlar için
  @media only screen and (max-width: 991px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

header > .container {
  display: flex;
  align-items: center;
  gap: 15px;
  .search {
    border: 1px solid $border-color-3;
    @include border-radius(3px);
    width: 400px;
    @include tablet {
      max-width: 250px;
    }
    &:focus-within {
      // box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 1px;
      box-shadow: 0px 0px 0px 1px $color-2;
    }
    form {
      display: flex;
      align-items: center;
      #q {
        border: 0;
        &:focus {
          box-shadow: none;
        }
      }
      button {
        border: 0;
        background: none;
        padding: 5px 9px;
        margin-right: 5px;
        &:hover {
          background-color:#f4f4f4;
          @include border-radius(50%);
        }
      }
    }
  }
}

/* All styles for screen size over 768px*/
@media only screen and (min-width: 768px) {

  header .btn_mobile {
    display: none;
  }

  /* Menu */
  .main-menu {
    display: flex;
    .nav-menu {
      display: flex;
      align-items: center;
      gap: 20px;
      .user-menu {
        display: none;
      }
      .not-clickable {
        display: none;
      }
    }
  }

  header.sticky .main-menu > ul > li span > a {
    color: #444;
  }
  header.sticky .main-menu > ul > li span:hover > a {
    opacity: 1;
    color: #fc5b62;
  }
}

/* All styles for screen size under 767px */
@media only screen and (max-width: 767px) {

  header .main-menu .nav-menu{
    .dropdown.dropdown-user  {
      display: none;
    }

    .not-clickable {
      margin: 15px 0;
    }

    .visible-menu-item {
      padding-top: 0;
      padding-bottom: 0;
      a:not(.btn_1){
        display: block;
        padding-top: 7.5px;
        padding-bottom: 7.5px;
        &:hover {
          background-color: #e4e4e4;
        }
      }
      .btn_1 {
        display: block;
        margin-bottom: 7.5px;
      }
    }

    .user-menu {
      li {
        padding-top: 0;
        padding-bottom: 0;
        a{
          display: block;
          padding-top: 7.5px;
          padding-bottom: 7.5px;
          &:hover {
            background-color: #e4e4e4;
          }
        }
      }
    }
  }

  header .nav-menu .btn_1,
  header .nav-menu .btn_1:hover {
    color: #fff;
  }

  header .btn_mobile {
    display: block;
    cursor: pointer;
    position: relative;
    margin-left: auto;
    top: 2px;
  }

  .main-menu ul a,
  .main-menu ul li a {
    color: #444;
  }

  .main-menu ul a:hover,
  .main-menu ul li a:hover {
    opacity: 1;
    color: #fc5b62;
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 3px;
    text-align: center;
    transition: 0.2s;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    padding: 7.5px;
    .logged {
      display: inline-block;
      width: 25px;
      height: 25px;
      position: relative;
      overflow: hidden;
      @include border-radius(50%);
      @include transition-default (opacity, 0.5s, ease);
    }
  }

  .nav-menu.active {
    left: 0;
  }

  .main-menu ul li {
    padding: 7.5px;
  }
}

.filters_listing {
	&.center {
    padding-top: 5px;
  }
  .actions {
    display: flex;
    justify-content: flex-end;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}

.soft-black-link {
  color: #999;
  &:hover {
    color: #fc5b62;
  }
}

.black-link {
  color: #000;
  &:hover {
    color: #fc5b62;
  }
}

.black-link-555555 {
  color: #555555;
  &:hover {
    color: #fc5b62;
  }
}

.soft-black-text {
  color: #999;
}

header {
  .dropdown-menu {
    border-radius: 5px !important;
    width: 200px !important;
    left: -45px !important;
    top: -15px !important;
  }
  .dropdown-item {
    padding: 5px 15px !important;
    color: #444;
    &:hover {
      color: #fc5b62;
    }
    &:first-of-type {
      border-top-left-radius: 5px !important;
      border-top-right-radius: 5px !important;
    }
    &:last-of-type {
      border-bottom-left-radius: 5px !important;
      border-bottom-right-radius: 5px !important;
    }
  }
}

.form-horizontal-map {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;

  &-left {
    width: 65%;
  }

  .map {
    height: 300px;
    width: 35%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.form-horizontal-inputs {
  display: flex;
  gap: 10px;

  > * {
    flex: 1 1 100%;
  }
}

@media only screen and (max-width: 767px) {
  .form-horizontal-map {
    display: block;

    &-left {
      width: 100%;
    }

    .map {
      width: 100%;
    }
  }

  .form-horizontal-inputs {
    display: block;
    > * {
      width: 100%;
    }
  }
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after,
.is-active .hamburger-inner,
.is-active .hamburger-inner::before,
.is-active .hamburger-inner::after {
  background-color: #FFF !important;
}

header.sticky .hamburger-inner,
header.sticky .hamburger-inner::before,
header.sticky .hamburger-inner::after,
header.sticky .is-active .hamburger-inner,
header.sticky .is-active .hamburger-inner::before,
header.sticky .is-active .hamburger-inner::after {
  background-color: #444 !important;
}

main .container form {
  background-color: #fff;
  padding: 20px;
  @include border-radius(3px);
  @include box-shadow (0px 0px 15px 0px rgba(0, 0, 0, 0.05));
}

.form-group.rich_text_area {
  margin-top: 30px;
}

.reset-ol-ul {
  ol, ul {
    list-style: none;
    margin: 0 0 25px 0;
    padding: 0;
  }
}

.spinner-border.pinmapper {
  color: $color-1;
}

.btn_1 {
  &.xsmall {
    padding: 7px 15px !important;
    border: 1px solid $color-1 !important;
    font-weight: 400 !important;
    &:hover {
      border-color: $color-2 !important;
    }
  }
  &.outline.xsmall {
    padding: 7px 15px !important;
    color: $color-1 !important;
    &:hover {
      color:#fff !important;
    }
  }
  &.rounded.xsmall {
    color: #fff;
  }
}

.btn_1.soft-black-border {
  border: 1px solid#999 !important;
  color: #888 !important;
  padding: 10px 15px !important;
  font-weight: 500 !important;
  &:hover {
    border-color: $color-2 !important;
    color: #fff !important;
  }
}

.dropdown-menu, .dropdown-menu form.button_to {
  padding: 0;
}

.responsive {
  width: 100%;
  height: auto;
}

.container.margin_100_55 {
  min-height: 600px;
}

footer {
  .logo {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}