<header class="header menu_fixed">
  <div id="preloader"><div data-loader="circle-side"></div></div><!-- /Page Preload -->
  <div id="logo">
    <a href="index.html">
      <%= image_pack_tag 'media/images/logo.png', size: '150x36', class: 'logo_normal' %>
      <%= image_pack_tag 'media/images/logo-sticky.png', size: '150x36', class: 'logo_sticky' %>
    </a>
  </div>
  <ul id="top_menu">
  </ul>
  <!-- /top_menu -->
  <a href="#sidemenu" class="btn_mobile">
    <div class="hamburger hamburger--spin" id="hamburger">
      <div class="hamburger-box">
        <div class="hamburger-inner"></div>
      </div>
    </div>
  </a>
  <nav id="sidemenu">
    <div id="panel-menu">
      <ul>
      </ul>
    </div>
  </nav>
</header>
<!-- /header -->