<div data-controller="map" data-map-markers-value="<%= markers.to_json %>",
                           data-map-access-token-value="<%= Rails.application.credentials.dig(:mapbox, :access_token) %>">
  <div class="map" data-map-target="container"></div>
</div>