<% set_meta_tags alternate: { "en" => settings_change_password_url(locale: :en),
                              "tr" => settings_change_password_url(locale: :tr) } %>
<div class="container margin_100_55 settings">
  <div class="row col-lg-9 offset-lg-3 title">
    <div class="main_title_3">
      <span><em></em></span>
      <h2><%= t('settings.settings') %></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 settings-sidemenu">
      <%= render 'settings/sidemenu', page: :change_password %>
    </div>
    <div class="col-lg-9 settings-main">
      <div class="header">
        <h1><%= title t('settings.change_password') %></h1>
      </div>
      <div class="body" id="change_password_form">
        <%= render 'settings/change_password_form' %>
      </div>
    </div>
  </div>
</div>