<div class="container margin_100_55 settings">
  <div class="row col-lg-9 offset-lg-3 title">
    <div class="main_title_3">
      <span><em></em></span>
      <h2><%= t('settings.settings') %></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 settings-sidemenu">
      <%= render 'settings/sidemenu', page: :edit_profile %>
    </div>
    <div class="col-lg-9 settings-main">
      <div class="header">
        <h5><%= t('settings.edit_profile') %></h5>
      </div>
      <div class="body" id="edit_profile_form">
        <%= render 'settings/edit_profile_form' %>
      </div>
    </div>
  </div>
</div>