<% set_meta_tags alternate: { "en" => about_url(locale: :en),
                              "tr" => about_url(locale: :tr) } %>
<div class="container margin_100_55 pages">
  <div class="row">
    <div class="col-lg-10 offset-lg-1 header">
      <div class="main_title_3 small-h1">
        <span><em></em></span>
        <h1><%= title t('shared.footer.about') %></h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 offset-lg-1 body">
      <h3>Pinmapper Nedir?</h3>
      <p>Pinmapper, gezilebilecek yerleri, restoranları, yapılabilecek etkinlikleri ve çok daha fazlasını keşfedebileceğiniz yerdir.</p>
      <p>Gittiğiniz bir yer için Pin oluşturup takipçilerinizle paylaşabilirsiniz. Aynı şekilde takip ettiğiniz kişilerin Pinlerini keşfedebilirsiniz.</p>
      <p>Kendi oluşturduğunuz Pinleri ya da başkalarının Pinlerini panolara ekleyerek gruplama yapabilirsiniz.</p>

      <h3>Pin Oluşturma</h3>
      <p>Pin oluşturarak takipçilerinize gittiğiniz bir yeri anlatabilirsiniz. Gittiğiniz yer bir restoran ise beğendiğiniz yemekleri fotoğraflarıyla birlikte paylaşabilirsiniz. Gittiğiniz yer manzaralı bir dağın tepesi ise hissettiklerinizi fotoğraflarla beraber paylaşabilirsiniz.</p>
      <p>Pin oluşturmak için başlık belirleyin ve Pinin konumunu girin. Akış ekranı için kapak fotoğrafı ve kapak fotoğrafı açıklaması ekleyebilirsiniz. Pin detaylarını ise fotoğraflarla beraber Pin açıklama alanına ekleyebilirsiniz. İsterseniz Pin için etiket ekleyebilirsiniz. Mesela oluşturduğunuz Pin bir restoran için ise <i>restoran</i> ve <i>yemek</i> etiketlerini ekleyebilirsiniz.</p>

      <h3>Pano Oluşturma</h3>
      <p>Oluşturduğunuz Pinleri ya da beğendiğiniz Pinleri gruplamak için pano oluşturabilirsiniz.</p>
      <p>Örneğin; 3-4 günlük gezi için Kapadokyaya gittiniz. Kapadokyada yemekler yediniz, kahve içtiniz, balona bindiniz, atv kullandınız. Yaptığınız her etkinlik için Pin oluşturabilirsiniz. Kapadokya Pinlerinizi gruplamanız, sizin için ve takipçileriniz için faydalı olacaktır. Bunun için Kapadokya adında bir pano oluşturup ilgili Pinlerinizi bu panoya ekleyebilirsiniz.</p>
      <p>Pano herkese açık ya da gizli olabilir. Gizli olduğu zaman başkaları panonuzu göremez. Gezi planı yaparken gizli pano oluşturup beğendiğiniz Pinleri bu panoya ekleyebilirsiniz.</p>
    </div>
  </div>
</div>