<div class="container margin_100_55 pages">
  <div class="row">
    <div class="col-lg-10 offset-lg-1 header">
      <div class="main_title_3">
        <span><em></em></span>
        <h2><%= t('shared.footer.cookie_policy') %></h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 offset-lg-1 body">
      <h3>Çerezler Nedir?</strong></h3>
      <p>Çerezler, ziyaret ettiğiniz web siteleri tarafından bilgisayarınıza veya mobil cihazınıza depolanan küçük metin dosyalarıdır.</p>
      <h3>Kullandığımız Çerezler</h3>
      <p><strong>Hesapla ilgili çerezler</strong></p>
      <p>Pinmapper'da bir hesap oluşturursanız, kayıt işleminin yönetimi ve genel yönetim için çerezleri kullanırız. Bu çerezler genellikle oturumunuzu kapattığınızda silinir, ancak bazı durumlarda oturumu kapattığınızda sonradan site tercihlerinizi hatırlamak için kalabilirler.</p>
      <p><strong>Giriş yapma ile ilgili çerezler</strong></p>
      <p>Giriş yaptığınızda bunu hatırlayabilmemiz için çerezleri kullanırız. Bunun sebebi yeni bir sayfayı her ziyaret ettiğinizde tekrar oturum açmanızı önlemektir. Bu çerezler, oturum açtığınızda yalnızca kısıtlanmış özelliklere ve alanlara erişebildiğinizden emin olmak için oturumu kapattığınızda temizlenir.</p>
      <p><strong>Site tercihleri ile ilgili çerezler</strong></p>
      <p>Pinmapper'da size iyi bir deneyim sunmak için, siteyi kullandığınız esnada nasıl çalışacağına ilişkin tercihlerinizi ayarlama işlevselliğini sağlıyoruz. Bir sayfayla etkileşime girdiğinizde tercihlerinizin hatırlanması için çerezleri kullanmamız gerekir.</p>
      <p><strong>E-posta bültenleri ile ilgili çerezler</strong></p>
      <p>Bu site, haber bülteni veya e-posta abonelik hizmetleri sunmaktadır. Kayıtlı olup olmadığınızı ve yalnızca abone olan veya abone olmayan kullanıcılar için geçerli olabilecek belirli bildirimlerin gösterilip gösterilmeyeceğini hatırlamak için çerezler kullanılabilir.</p>
      <h3>Üçüncü Şahıs Çerezleri</h3>
      <p>Bazı özel durumlarda güvenilir üçüncü şahıslar tarafından sağlanan çerezleri kullanmaktayız. Çerezleri tarayıcınızı ayarlayarak yönetebilir ve silebilirsiniz. Ancak bu, sayfamızın bazı özelliklerinden yararlanmanıza engel olabilir.</p>
      <h3>Daha Fazla Bilgi</h3>
      <p>Daha fazla bilgi isterseniz bizimle iletişime geçebilirsiniz:</p>
      <a href="mailto:hello@pinmapper.com"><i class="ti-email"></i> hello@pinmapper.com</a>
    </div>
  </div>
</div>