<% set_meta_tags alternate: { "en" => cookie_policy_url(locale: :en),
                              "tr" => cookie_policy_url(locale: :tr) } %>
<div class="container margin_100_55 pages">
  <div class="row">
    <div class="col-lg-10 offset-lg-1 header">
      <div class="main_title_3 small-h1">
        <span><em></em></span>
        <h1><%= title t('shared.footer.cookie_policy') %></h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 offset-lg-1 body">
      <h3>What Is a Cookie?</strong></h3>
      <p>Cookies are small text files stored on your computer or mobile device by visited websites.</p>
      <h3>Which Cookies Do We Use?</h3>
      <p><strong>Cookies related to account</strong></p>
      <p>If you create an account on Pinmapper, we will use cookies for the management of registration and general management. These cookies are generally deleted when you sign off but might remain to remember your website preferences after signing off.</p>
      <p><strong>Cookies related to logging in</strong></p>
      <p>We use cookies to remember your log in. The reason to use these cookies is to prevent logging in to your account every time you visit a new page. These cookies are deleted when you log out to make sure that you can only access limited properties and fields when you log in.</p>
      <p><strong>Cookies related to website preferences</strong></p>
      <p>Pinmapper provides you preference setting functionality to decide how the website will work when you use it to offer a better experience. We need to use these cookies to remember your preferences when you interact with a page.</p>
      <p><strong>Cookies related to the email newsletter</strong></p>
      <p>This website offers newsletter or email subscription services. We might use cookies to remember whether you have subscribed to our newsletter or to only send certain notifications to subscribers.</p>
      <h3>Third-Party Cookies</h3>
      <p>In some special cases, we use cookies provided by reliable third parties. You can manage and delete your cookies from your browser settings. However, this might prevent you to benefit from certain properties and services on our pages.</p>
      <h3>For more information</h3>
      <p>Please contact us for more information:</p>
      <a href="mailto:hello@pinmapper.com"><i class="ti-email"></i> hello@pinmapper.com</a>
    </div>
  </div>
</div>