<main>
  <section class="hero_single version_2">
    <div class="wrapper">
      <div class="container">
        <h3>Hey traveller!</h3>
        <p>Expolore top rated pins around the world</p>
      </div>
    </div>
  </section>
  <!-- /hero_single -->
</main>
<!-- /main -->

