<div class="container margin_100_55 pages">
  <div class="row">
    <div class="col-lg-10 offset-lg-1 header">
      <div class="main_title_3">
        <span><em></em></span>
        <h2><%= t('shared.footer.privacy_policy') %></h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 offset-lg-1 body">
      <p>
        Kişisel bilgilerinizin gizliliğine önem veriyoruz.
      </p>
      <p>
        Kişisel bilgilerinizi yalnızca size hizmet sağlayabilmek için gerçekten ihtiyaç duyduğumuzda, bilginiz ve rızanız dahilinde, adil ve yasal yollarla toplarız.
      </p>
      <p>
        Topladığımız bilgileri yalnızca size talep edilen hizmeti sunmak için gerekli olduğu sürece saklarız. Sakladığımız verileri, kaybolmaya, çalınmaya, yetkisiz erişime, ifşa edilmesine, kopyalanmasına, kullanımına ya da düzenlenmesine karşı ticari olarak kabul edilebilir anlamda koruyacağız.
      </p>
      <p>
        Pinmapper'da, bazı özelliklerimizi kullanmanız ve / veya üçüncü taraflara ait hizmet ve uygulamalara platformumuz aracılığıyla entegre olmanız için üçüncü parti gerektiren belirli hizmetler sunuyoruz. Bu gibi durumlarda, sizin talebinizi yerine getirmek veya talep ettiğiniz hizmetleri sağlamak için kişisel verilerinizi izin vermiş olduğunuz kuruluşlarla paylaşıyoruz.
      </p>
      <p>
        Sizin izniniz ya da talebiniz olmadığı sürece ve yasaların gerektirdiği herhangi bir durum yoksa, bilgilerinizi kamuya açık olarak ya da üçüncü partilerle kesinlikle paylaşmıyoruz.
      </p>
      <p>
        İstediğiniz hizmetlerden bazılarını size sağlayamayacağımız durumlarda, kişisel bilgilerinize erişim talebimizi reddetmekte özgürsünüz.
      </p>
      <p>
        Pinmapper'ı kullanmaya devam etmeniz, gizlilik ve kişisel bilgiler konusundaki uygulamalarımızın kabulü olarak değerlendirilecektir. Kullanıcı verileri ve kişisel bilgilerin kullanımı hakkında herhangi bir sorunuz varsa, bizimle iletişime geçebilirsiniz.
      </p>
      <p>Bu politika 21 Aralık 2021 tarihinden itibaren geçerlidir.</p>
      <p>Eğer Gizlilik Politikası'yla veya bilgilerinizin kullanımıyla ilgili hergangi bir sorunuz ve şikayetiniz varsa lütfen bizimle iletişime geçin:</p>
      <a href="mailto:hello@pinmapper.com"><i class="ti-email"></i> hello@pinmapper.com</a>
    </div>
  </div>
</div>