<% set_meta_tags alternate: { "en" => terms_of_use_url(locale: :en),
                              "tr" => terms_of_use_url(locale: :tr) } %>
<div class="container margin_100_55 pages">
  <div class="row">
    <div class="col-lg-10 offset-lg-1 header">
      <div class="main_title_3 small-h1">
        <span><em></em></span>
        <h1><%= title t('shared.footer.terms_of_use') %></h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 offset-lg-1 body">
      <p>Pinmapper hesabı oluşturduğunuzda ya da Pinmapper'ı kullandığınızda, bu kullanım koşullarına, geçerli tüm yasalara ve düzenlemelere bağlı kalmayı ve yürürlükteki tüm yerel yasalara uyma sorumluluğunuz olduğunuzu kabul etmiş olursunuz. Bu koşullardan herhangi birini kabul etmiyorsanız, Pinmapper'ı kullanmanız yasaktır.</p>

      <h3>Gelir Kaynağı</h3>
      <p>
        Pinmapper'ı kullanmak için ödeme yapmak yerine, işletme ve kuruluşların tanıtımını yapmamız için ödeme yaptığı reklamları size gösterebileceğimizi kabul edersiniz. Size, sizinle daha alakalı reklamlar sunmak için davranışlarınız ve ilgi alanlarınız hakkındaki bilgiler gibi kişisel verilerinizi kullanırız. Reklamverenlere kim olduğunuzu söylemeden size alakalı ve faydalı reklamlar gösteririz. Kişisel verilerinizi satmayız. Reklamverenlerin ticari hedefleri ve reklamlarını göstermek istedikleri hedef kitle türü gibi bilgileri tarafımıza iletmelerine izin veririz. Ardından reklamlarını, ilgilenebilecek kişilere gösteririz. Ayrıca reklamverenlerin, kişilerin Pinmapper içindeki ve dışındaki içerikleriyle nasıl etkileşim kurduğunu anlamalarına yardımcı olmak amacıyla reklamverenlere reklamlarının performansına ilişkin raporlar sunarız. Özel olarak izin vermediğiniz sürece sizi doğrudan tanımlayan bilgileri paylaşmayız. Pinmapper'da, içerikte bahsedilen iş ortağıyla ticari bir ilişkiye dayalı olarak ürün veya hizmetlerin tanıtımını yapan hesap sahipleri tarafından paylaşılan markalı içerikler görebilirsiniz.
      </p>

      <h3>Verdiğiniz Taahhütler</h3>
      <p>Pinmapper'ı kullanarak aşağıdaki eylemleri yapamazsınız.</p>
      <ul>
        <li>Başkasının kimliğine bürünemezsiniz.</li>
        <li>Doğru olmayan bilgiler veremezsiniz.</li>
        <li>Yasalara aykırı, yanıltıcı veya dolandırıcılık amaçlı herhangi bir şey yapamaz, yasadışı veya yetkisiz amaçlarla herhangi bir eylem gerçekleştiremezsiniz.</li>
        <li>İzinsiz yollarla hesap oluşturma, bilgilere erişme veya bilgi toplama girişiminde bulunamazsınız.</li>
        <li>Pinmapper'dan elde edilen hiçbir hesap veya veriyi satamaz, lisanslayamaz veya satın alamazsınız.</li>
        <li>İzin almadan bir başkasının özel veya gizli bilgilerini paylaşamaz veya fikri mülkiyet hakları dahil olmak üzere bir başkasının haklarını ihlal edecek herhangi bir eylemde bulunamazsınız.</li>
        <li>Ürünlerimizi veya bileşenlerini değiştiremez, çevirisini yapamaz, türevlerini oluşturamaz veya tersine mühendislik işlemi uygulamazsınız.</li>
      </ul>
      <p>Bu sözleşme ile beraber, bu hizmeti sağlayabilemek için ihtiyaç duyduğumuz bazı izinleri bize vermektesiniz.</p>
      <ul>
        <li>İçerikleriniz size ait, ancak bize içerikleri kullanmamız için bir lisans vermektesiniz. Pinmapper'da paylaştığınız içerikler üzerinde mülkiyet iddia etmeyiz. Bununla beraber, hizmet sunabilmek için sizden belirli yasal izinler (lisans) almamız gerekir. Fikri mülkiyet hakları kapsamındaki içerikleri (metinler, fotoğraflar veya videolar gibi) Pinmapper'da paylaştığınızda (yüklediğinizde); içeriklerinizi barındırmamız, kullanmamız, değiştirmemiz, dağıtmamız, kopyalamamız, çalıştırmamız, herkese açık olarak sunmamız veya göstermemiz, çevirisini yapmamız ve türevlerini oluşturmamız için bize münhasır olmayan, telifsiz, devredilebilir, alt lisanslanabilir ve uluslararası bir lisans vermiş olursunuz. Bu lisans, içerikleriniz sistemlerimizden silindiğinde sona erer. İçeriklerinizi tek tek veya hesabınızı silerek tek seferde silebilirsiniz.</li>
        <li>Kullanıcı adınızı, profil resminizi, ilişkileriniz ve eylemleriniz hakkındaki bilgileri hesaplarla, reklamlarla ve sponsorlu içeriklerle birlikte kullanma izni vermektesiniz. Örneğin reklamlarını Pinmapper'da göstermemiz için bize ödeme yapan bir markanın oluşturduğu bir sponsorlu Pin'i beğendiğinizi gösterebiliriz.</li>
      </ul>
      <h3>Saklı Tuttuğumuz İlave Haklar</h3>
      <ul>
        <li>Kullanıcı adınızı gerekli gördüğümüz takdirde (örn. başka birinin fikri mülkiyet haklarını ihlal ediyorsa veya başka bir kullanıcının kimliğine bürünüyorsa) değiştirebiliriz.</li>
        <li>Yazılımımızı değiştirmek, türevlerini oluşturmak, kaynak koda dönüştürmek veya başka bir şekilde bizden kaynak kod çekmeye çalışmak için bizden yazılı izin almanız gerekir.</li>
        <li>Fikri mülkiyetimizi, ticari markalarımızı ya da benzer markaları bizden yazılı izin almadan kullanamazsınız.</li>
        <li>Kullanım Koşulları'nı ihlal ettiğinizi düşündüğümüz durumlarda, yasaların izin verdiği veya gerektirdiği şekilde Pinmapper'da paylaştığınız içerikleri veya bilgileri kaldırabiliriz ya da engelleyebiliriz.</li>
      </ul>

      <h3>Sorumluluğun Sınırlandırılması</h3>
      <p>
        Pinmapper'ın hiçbir durumda doğrudan, dolaylı, kazara, rastlantısal ya da örnek niteliğindeki herhangi bir hasardan sorumlu tutulamayacağını kabul eder ve onaylarsınız. Bunlara, bilginin yanlış kullanımından, bu hizmetlerin ya da bilginin kalıcı ya da geçici olarak erişilemez durumda olmasından, herhangi bir bilginin silinmesi ya da kötüye kullanılması veya herhangi bir bilginin ya da içeriğin depolanmasında bir hata yapılmasından kaynaklanan ve bunlarla sınırlı olmamak üzere kâr kayıpları, işin kesintiye uğraması, iş itibarı ya da iyi niyet kaybı, programlar ile bilgilerin kaybolması ya da diğer manevi kayıplar da dahildir. Yukarıdaki kısıtlama, Pinmapper'a bilgi verilsin ya da verilmesin veya Pinmapper bu tür hasarların olasılığının farkında olsun ya da olmasın geçerlidir. Sorumluluğun reddine veya sınırlandırılmasına bağlı ya da kazara hasarlar için izin verilmeyen yargı yetkilerinde, Pinmapper'ın sorumluluğu hukukun izin verdiği en geniş kapsamda kısıtlanmıştır.
      </p>

      <h3>Değişiklikler</h3>
      <p>Pinmapper, bu Kullanım Koşulları'nı önceden haber vermeksizin istediği zaman değiştirebilir. Pinmapper'ı kullanarak, kullanım koşullarının en güncel haline bağlı kalmayı kabul etmiş olursunuz.</p>

      <h3>Geçerli Kanun</h3>
      <p>Bu hüküm ve koşullar Türkiye yasalarına tabidir ve bu yasalara uygun olarak yorumlanır ve geri dönüşü olmaksızın o devlet veya bölgedeki mahkemelerin münhasır yargı yetkisine tabi olursunuz.</p>

      <p>Herhangi bir sorunuz olduğu taktirde lütfen bizimle iletişime geçin:</p>
      <a href="mailto:hello@pinmapper.com"><i class="ti-email"></i> hello@pinmapper.com</a>
    </div>
  </div>
</div>