<% keywords = "#{@tag.name}, #{t('pin_base_keywords')}" %>
<% set_meta_tags alternate: { "en" => tag_url(@tag, locale: :en),
                              "tr" => tag_url(@tag, locale: :tr) },
                 keywords: keywords.split(', ').uniq.join(', ') %>
<% set_meta_tags og: {
      type:     'website',
      title: "##{@tag.name} - Pinmapper",
      site: :site,
      image:    "https://res.cloudinary.com/pinmapper/image/upload/og_card_#{locale}.png",
      url: tag_url(@tag)
    } %>
<% set_meta_tags twitter: {
      card: "summary_large_image",
      title: "##{@tag.name} - Pinmapper",
      site: :site,
      image:    "https://res.cloudinary.com/pinmapper/image/upload/og_card_#{locale}.png",
      url: tag_url(@tag)
    } %>

<div class="container margin_100_55">
  <div class="row">
    <div class="col-lg-12 tag">
      <div class="header">
        <h1 class="tag-name"><%= title "##{@tag.name}" %></h1>
        <%= render(General::TwinButtonComponent.new(
          display_block: -> {
            current_user.present?
          },
          first_button: current_user&.tags&.exclude?(@tag),
          record_dom_id: dom_id(@tag),
          first_button_path: follow_tag_path(@tag),
          second_button_path: unfollow_tag_path(@tag)
        )) %>
      </div>
      <div id="infinite-pins" class="body infinite-pins">
        <%= render(Pins::PinComponent.with_collection(@pins, current_user: current_user)) %>
      </div>
      <%= render(General::InfiniteScrollPagyComponent.new(pagy: @pagy)) %>
    </div>
  </div>
</div>