<%= turbo_frame_tag dom_id(@pin) do %>
  <div id="<%= "add_to_board_list_#{dom_id(@pin)}" %>">
    <%= render(Boards::ListItemForPinComponent.with_collection(@boards, pin: @pin, current_user: current_user)) %>
  </div>
  <%= render(General::InfiniteScrollPagyComponent.new(pagy: @pagy, record: @pin)) %>
<% end %>