<div class="container margin_100_55">
  <div class="row">
    <div class="col-lg-12 board-show">
      <div class="header">
        <div class="main_title_3">
          <span><em></em></span>
          <h2><%= @board.name %></h2>
        </div>
      </div>
      <div class="body">
        <%= @board.translated_privacy %>
      </div>
    </div>
  </div>
</div>
<!-- /container -->
