<div id="<%= dom_id(board) %>" class="board">
  <span><%= link_to "#{board.name}", board_path(board), class: 'black-link' %></span>
  <%= render(Boards::MoreButtonComponent.new(board: board, current_user: current_user )) %>
</div>
