<div id="<%= dom_id(board) %>" class="board-list-item-for-pin">
  <span class="board-name"><%= board.name %></span>
  <button data-action="click->dropdown#switchBoardsPanel" type="button" class="btn btn-primary btn-sm">></button>
  <%= render Pins::Boards::AddRemoveButtonComponent.new(board: board, pin: pin, current_user: current_user) %>
</div>
