<p>Merhaba <%= @resource.username %>!</p>

<p>Şifrenizi değiştirmek için aşağıdaki bağlantıya tıklayınız.</p>

<p><%= link_to 'Şifremi değiştir', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Böyle bir istekte bulunmadıysanız, bu e-postayı yoksayın.</p>