<p>Merhaba <%= @resource.username %>!</p>

<p>Çok sayıda başarısız giriş denemesinden dolayı hesabınız kilitlendi.</p>

<p>Hesabınızın kilidini açmak için aşağıdaki bağlantıya tıklayın:</p>

<p><%= link_to 'Hesabımın kilidini aç', unlock_url(@resource, unlock_token: @token) %></p>
