<%= tag.div id: "boards_link_#{dom_id(user)}" do %>
  <%= link_to boards_profile_path(user), class: 'soft-black-link' do %>
    <b><%= user.boards.public_privacy.count %></b>
    <span><%= t('activerecord.models.board') %></span>
  <% end %>
<% end %>