<%= tag.div id: "boards_link_#{dom_id(user)}" do %>
  <%= link_to boards_profile_path(user), class: 'soft-black-link' do %>
    <b><%= user.public_boards_count %></b>
    <span><%= t('boards.boards_tr') %></span>
  <% end %>
<% end %>