<%= tag.div id: "following_link_#{dom_id(user)}" do %>
  <%= link_to following_profile_path(user), class: 'black-link' do %>
    <b><%= user.following.count %></b>
    <span><%= t('following_tr') %></span>
  <% end %>
<% end %>