<div class="follow-user-list-item">
  <div class="user">
    <%= render(Profiles::AvatarComponent.new(src: cloudinary_url(@user.profile.avatar.key, transformation: [ @user.profile.avatar_crop_constraints, { width: 200, height: 200, crop: 'fill' }], quality: 'auto', flags: 'progressive'), size: 50)) %>
    <span><%= link_to user.username, profile_path(user), class: 'username', target: '_top' %></span>
  </div>
  <%= render(General::TwinButtonComponent.new(
    display_block: -> {
      return if current_user.blank?

      current_user != @user
    },
    first_button: current_user&.following&.exclude?(@user),
    record_dom_id: dom_id(@user),
    first_button_path: follow_profile_path(@user),
    second_button_path: unfollow_profile_path(@user)
  )) %>
</div>
