<%= tag.div id: "pins_link_#{dom_id(user)}" do %>
  <%= link_to profile_path(user), class: 'black-link-555' do %>
    <b><%= user.pins_count %></b>
    <span><%= t('pins.pins_tr') %></span>
  <% end %>
<% end %>