<% title t('.title') %>
<% set_meta_tags alternate: { "en" => explore_index_url(locale: :en),
                              "tr" => explore_index_url(locale: :tr) } %>
<% set_meta_tags og: {
      type:     'website',
      title: "#{t('.title')} - Pinmapper",
      description: t('pinmapper_slogan'),
      site: :site,
      image:    "https://d3upp0w924wblq.cloudfront.net/og_card_#{locale}.png",
      url: explore_index_url
    } %>
<% set_meta_tags twitter: {
      card: "summary_large_image",
      title: "#{t('.title')} - Pinmapper",
      description: t('pinmapper_slogan'),
      site: :site,
      image:    "https://d3upp0w924wblq.cloudfront.net/og_card_#{locale}.png",
      url: explore_index_url
    } %>

<div class="container margin_100_55 pins-index">
  <div id="infinite-pins" class="row infinite-pins">
    <%= render(Pins::PinComponent.with_collection(@pins, current_user: current_user)) %>
  </div>
  <%= render(General::InfiniteScrollPagyComponent.new(pagy: @pagy, records: @pins)) %>
</div>
