<% title t('.title') %>
<% set_meta_tags alternate: { "en" => explore_index_url(locale: :en),
                              "tr" => explore_index_url(locale: :tr) } %>
<% og = {
     description: t('pinmapper_slogan'),
     url: explore_index_url
   } %>
<% set_meta_tags og: og %>
<% set_meta_tags twitter: og %>
<div class="container margin_100_55 pins-index">
  <div id="infinite-pins" class="row infinite-pins">
    <%= render(Pins::PinComponent.with_collection(@pins, current_user: current_user)) %>
  </div>
  <%= render(General::InfiniteScrollPagyComponent.new(pagy: @pagy, records: @pins)) %>
</div>
